<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basszeit</title>
</head>
<body>
    <header>
        <img src="logo.svg" alt="logo">
        <p>Welcome!</p>
        </header>
        <h1>My Heading</h1>
        <footer>
        <a href="contact.html">Contact</a>
        <p>© 2025 by HTW Berlin Students </p>
        </footer>
        <script src="script.js"></script>
    <h1>Basszeit</h1>
    <p>Hallo World</p>
</body>
</html>